{% extends "app/base.html" %}

{% block title %}Mis seguidos{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center text-primary mb-4">Mis seguidores:</h1>

    {% if mis_seguidores %}
        <div class="list-group">
            {% for usuario in mis_seguidores %}
                <div class="list-group-item d-flex justify-content-between align-items-center py-3">
                    <div class="d-flex align-items-center">
                        {% if usuario.avatar %}
                            <img src="{{ usuario.avatar.url }}" alt="avatar" class="rounded-circle shadow me-3" style="width: 50px; height: 50px;">
                        {% endif %}
                        <a href="{% url 'app:usuario_id' usuario.id %}" class="text-decoration-none text-dark">{{ usuario.username }}</a>
                    </div>
                    <button class="btn {% if usuario in request.user.follows.all %} btn-success {% else %} btn-secondary {% endif %} boton-seguir" data-user-id="{{ usuario.id }}">{% if usuario in request.user.follows.all %}Seguido {% else %} Seguir {% endif %}</button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No tienes seguidores.</p>
    {% endif %}
</div>

    <script>

        document.querySelectorAll(".boton-seguir").forEach(boton => {
            boton.addEventListener("click", function() {
                let userId = this.getAttribute("data-user-id");

                fetch("{% url 'app:seguir_usuario' 0 %}".replace("0", userId), {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": getCSRFToken(),
                        "X-Requested-With": "XMLHttpRequest"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.seguido) {
                        // Seleccionar TODOS los botones con el mismo data-user-id
                        document.querySelectorAll(`.boton-seguir[data-user-id='${userId}']`).forEach(btn => {
                            btn.textContent = "Seguido";
                            btn.classList.remove("btn-secondary");
                            btn.classList.add("btn-success");
                        });
                    } else {
                        document.querySelectorAll(`.boton-seguir[data-user-id='${userId}']`).forEach(btn => {
                            btn.textContent = "Seguir";
                            btn.classList.remove("btn-success");
                            btn.classList.add("btn-secondary");
                        });
                    }
                })
                .catch(error => console.error("Error:", error));
            });
        });

        function getCSRFToken() {
            return document.querySelector("meta[name='csrf-token']").getAttribute("content");
        }
    </script>

{% endblock %}
