{% extends "app/base.html" %}

{% block title %}Mis seguidos{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center text-primary mb-4">Usuarios a los que sigo:</h1>

    {% if mis_seguidos %}
        <div class="list-group">
            {% for usuario in mis_seguidos %}
                <div class="list-group-item d-flex justify-content-between align-items-center py-3 flex-column flex-md-row">
                    <div class="d-flex align-items-center mb-3 mb-md-0">
                        {% if usuario.avatar %}
                            <img src="{{ usuario.avatar.url }}" alt="avatar" class="rounded-circle shadow me-3" style="width: 50px; height: 50px;">
                        {% endif %}
                        <a href="{% url 'app:usuario_id' usuario.id %}" class="text-decoration-none text-dark">{{ usuario.username }}</a>
                    </div>
                    <button class="btn btn-success boton-seguir mt-2 mt-md-0" data-user-id="{{ usuario.id }}" data-url="{% url 'app:seguir_usuario' usuario.id %}">
                       Seguido
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No hay seguidos.</p>
    {% endif %}
</div>

{% endblock %}
